root = true

[*]
charset = utf-8
insert_final_newline = true
indent_style = space

[*.cs]
end_of_line = crlf
indent_size = 4
trim_trailing_whitespace = true
dotnet_diagnostic.SKEXP0001.severity = none
dotnet_diagnostic.SKEXP0050.severity = none
dotnet_diagnostic.SKEXP0070.severity = none

[*.{ts,tsx,js, html, css, scss, json}]
end_of_line = lf
indent_size = 2
trim_trailing_whitespace = true
max_line_length = 240

[*.md]
indent_size = 2
trim_trailing_whitespace = false
